#####################################################################
#   Fans
#####################################################################

[fan_generic EXHAUST_IN] # K_FAN1 auxiliary fan
pin: PB0
max_power: 1.0

[fan_generic EXHAUST_OUT] # K_FAN2 exhaust fan
pin: PE11
max_power: 1.0

# [heater_fan PS_FAN]      
# pin: PE14
# max_power: 1.0               
# kick_start_time: 0.5         
# heater: heater_bed             
# heater_temp: 35              
# tachometer_pin: PB10
# tachometer_ppr: 2
# tachometer_poll_interval: 0.001375

[temperature_fan PS_FAN]      
pin: PE14
tachometer_pin: PB10
tachometer_ppr: 2
tachometer_poll_interval: 0.001375

sensor_type: temperature_mcu
max_power: 1.0               
kick_start_time: 0.5        
shutdown_speed: 0.0
min_temp:0
max_temp: 100
target_temp: 60
min_speed: 0.0
max_speed: 1.0
control: pid
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0        
