#####################################################################
#   Fans
#####################################################################

[fan_generic fan0] # front model cool fan
pin: extra_mcu: PB0
max_power: 1.0

[fan_generic fan1] # back model cool fan
pin: extra_mcu: PA7
max_power: 1.0

[fan_generic fan2] # auxiliary fan
pin: PB0
max_power: 1.0

[fan_generic fan3] # exhaust fan
pin: PE11
max_power: 1.0

[heater_fan bed_fan]      
pin: PE14
max_power: 1.0               
kick_start_time: 0.5         
heater: heater_bed             
heater_temp: 35              
tachometer_pin: PB10
tachometer_ppr: 2
tachometer_poll_interval: 0.001375