#####################################################################
#   LED Control
#####################################################################

[output_pin main_led]
pin: PD13
value: 1.0
