#####################################################################
#   LED Control
#####################################################################

[output_pin caselight]
pin: PD13
pwm: True
value: 1.0
cycle_time:    0.01667 # 60 Hz
