#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[quad_gantry_level]          
gantry_corners:              
	-70,-40
	550,600
points:
    50, 30
    50, 470
    490, 470
    490, 30
speed: 400                   
horizontal_move_z: 15
retry_tolerance: 0.1
retries: 15                  
max_adjust: 20

#####################################################################
#   Bed mesh
#####################################################################
[bed_mesh]
speed: 400
horizontal_move_z: 1.5
algorithm: bicubic 
mesh_min: 13,15              
mesh_max: 476,490
probe_count: 60,60
fade_start: 0
fade_end: 10
scan_overshoot: 4