#####################################################################
#   MCUs
#####################################################################

[mcu] 
canbus_uuid: 0d1445047cdd

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[board_pins]
aliases:
    LED=PD13, CAM_LED=PE2
aliases_heaters:
    BED_EN=PD12
aliases_thermistors:
    BED_TH=PC5
aliases_motors:
    MOT_Z1_EN=PA9,  MOT_Z1_STEP=PA8,  MOT_Z1_DIR=PC9,  MOT_Z1_UART=PA6,
    MOT_Z2_EN=PC8,  MOT_Z2_STEP=PC6,  MOT_Z2_DIR=PD15, MOT_Z2_UART=PC7,
    MOT_Z3_EN=PA7,  MOT_Z3_STEP=PA5,  MOT_Z3_DIR=PA4,  MOT_Z3_UART=PA6,
    MOT_Z4_EN=PB15, MOT_Z4_STEP=PB13, MOT_Z4_DIR=PB12, MOT_Z4_UART=PB14,
    MOT_X_EN=PD5,   MOT_X_STEP=PE1,   MOT_X_DIR=PD7,   MOT_X_CS=PE0,
    MOT_Y_EN=PD0,   MOT_Y_STEP=PD3,   MOT_Y_DIR=PD2,   MOT_Y_CS=PD4
aliases_fans:
    FAN1_FG=PB1,  FAN1_PWM=PB0,   # Exhaust fan 1
    FAN2_FG=PE13, FAN2_PWM=PE11,  # Exhaust fan 2
    FAN3_FG=PB10, FAN3_PWM=PE14   # Bed Fan
aliases_limits:
    LIM_X=PD1, LIM_Y=PD6
aliases_screen:
    SCREEN_RX=P113, SCREEN_TX=P114
aliases_components:
    FAN_EXAUST1=FAN1_FG,
    FAN_EXAUST2=FAN2_FG,
    FAN_BED=FAN3_FG
