#####################################################################
#    X/Y Stepper Settings
#####################################################################

## ----- B Stepper ----- ##
[stepper_x]   
step_pin: PE1
dir_pin: PD7
enable_pin: !PD5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200

homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

endstop_pin: ^th: LIM_X   
position_endstop: -11
position_min: -11              
position_max: 502

[tmc5160 stepper_x]
cs_pin: PE0
run_current: 3.0
sense_resistor: 0.05
interpolate: false
stealthchop_threshold: 0
# stealthchop_threshold: 999999

spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
driver_MULTISTEP_FILT: True
driver_IHOLDDELAY: 15
driver_TPOWERDOWN: 1
driver_TBL: 3
driver_TOFF: 5
driver_HEND: 0
driver_HSTRT: 7
driver_PWM_FREQ: 2
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
driver_PWM_OFS: 28
driver_PWM_REG: 8
driver_VHIGHFS: 0
driver_VHIGHCHM: 1   

## ----- A Stepper ----- ##
[stepper_y]  
step_pin: PD3
dir_pin: PD2
enable_pin: !PD0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200

homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

endstop_pin: ^PD1
position_endstop: 505
position_min: -1
position_max: 505

[tmc5160 stepper_y]
cs_pin: PD4
run_current: 3.0
sense_resistor: 0.05
interpolate: false
stealthchop_threshold: 0
# stealthchop_threshold: 999999

spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
driver_MULTISTEP_FILT: True
driver_IHOLDDELAY: 15     
driver_TPOWERDOWN: 1      
driver_TBL: 3              
driver_TOFF: 5             
driver_HEND: 0             
driver_HSTRT: 7            
driver_PWM_FREQ: 2         
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
driver_PWM_OFS: 28         
driver_PWM_REG: 8          
driver_VHIGHFS: 0
driver_VHIGHCHM: 1
