#####################################################################
#    Z Stepper Settings
#####################################################################

## ----- Z1 Stepper  ----- ##
[stepper_z]
step_pin: PA8
dir_pin: PC9
enable_pin: !PA10
microsteps: 16

gear_ratio: 80:12             
rotation_distance: 40     

homing_speed: 10.0
homing_retract_dist: 5.0
homing_retract_speed: 10.0
second_homing_speed: 5.0

endstop_pin: probe: z_virtual_endstop
position_max: 505             
position_min: -10              

[tmc2209 stepper_z]  
uart_pin: PA9 
run_current: 1.2            
sense_resistor: 0.150          
interpolate: true   
stealthchop_threshold: 999999

uart_address:3

## ----- Z2 Stepper  ----- ##
[stepper_z1]
step_pin: PC6
dir_pin: !PD15
enable_pin: !PC8
microsteps: 16    

gear_ratio: 80:12            
rotation_distance: 40         

[tmc2209 stepper_z1]
uart_pin: PC7  
run_current:  1.2
sense_resistor: 0.150         
interpolate: true             
stealthchop_threshold: 999999

uart_address:3

## ----- Z3 Stepper ----- ##
[stepper_z2]
step_pin: PA5
dir_pin: PA4
enable_pin: !PA7
microsteps: 16

gear_ratio: 80:12             
rotation_distance: 40         

[tmc2209 stepper_z2]
uart_pin: PA6
run_current: 1.2          
sense_resistor: 0.150          
interpolate: true             
stealthchop_threshold: 999999

uart_address:3

## ----- Z4 Stepper ----- ##
[stepper_z3]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB15
microsteps: 16                        

gear_ratio: 80:12             
rotation_distance: 40         

[tmc2209 stepper_z3]
uart_pin: PB14
run_current: 1.2                   
sense_resistor: 0.150         
interpolate: true            
stealthchop_threshold: 999999

uart_address:3
