#####################################################################
#   MCU
#####################################################################

[mcu th]
canbus_uuid: 61755fe321ac

[board_pins th]
mcu: th
aliases:
aliases_steppers:
    EXT_EN=PA11, EXT_STEP=PA8, EXT_DIR=PA9, EXT_UART=PA12
aliases_heaters:
    HE_EN=PB7
aliases_thermistors:
    HE_TH=PA5
aliases_fans:
    FAN_HE_EN=PA6, FAN_HE_MON=PA1,
    FAN_PART_EN=PA7, FAN_PART_MON=PA2
aliases_limits:
    LIM_X=PA10
aliases_lis2dw:
    LIS_CS=PB12, LIS_SCLK=PB13, LIS_MOSI=PB15, LIS_MISO=PB14
aliases_probe:
    PROBE_1=PB10, PROBE_2=PB11
