#####################################################################
#    Probe
#####################################################################

[probe_eddy_current eddy]
sensor_type: ldc1612
z_offset: 3.50
i2c_mcu: th
i2c_bus: i2c2
x_offset: -19.8
y_offset: -0.75
vir_contact_speed: 3.0

[z_offset_calibration]
non_contact_probe: probe_eddy_current eddy
contact_probe: probe_eddy_current eddy
endstop_xy_position: 250,251   
center_xy_position: -10,10                   
z_hop: 5                       
z_hop_speed: 10
internal_endstop_offset: -0.2 